    body{
    background-color: #EEF0F4;
    }
    header{
        background-color: #5AC0CE;
        position: absolute; top:0;left: 0;right: 0;

    }
    div{
        margin-top: 1em;
        margin-bottom: 1em;
        vertical-align: middle;
        text-align: center;
        color: #FFFFFF
    }
    .close{
        position: absolute;left: 1em;
    }
   .register{
        position: absolute;right: 1em;
    }
    form.form1{
        margin-top: 3em;
        position: absolute;left: 0;right: 0;
    }
    img{
        height: 60px;
        width: 45px;
        float: left;
    }
    .number{
        margin-top: 1em;
        background-color: #FFFFFF;
    }
   .number{
        border: none;
        height: 60px;
    }
    .input{
        margin-top: 5px;
        border: none;
        border-left: solid #C8C8C8 0.05px;
        padding-left: 20px;
        line-height: 50px;
    }
  .button{
        height: 60px;
        width: 100%;
        border: none;
        background-color: #5AC0CE;
        margin-top: 1em;
        color: #FFFFFF;
        font-size: 16px;
    }
    .forget{
        margin-top: 1em;
        border: none;
        border-bottom:  solid #5AC0CE 0.05px;
        font-size: 14px;
        color: #5AC0CE;
        margin-left: 90%;
    }
 
 